# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
/build/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Maven template
target/


# User-specific stuff:
.idea/

# IntelliJ
out/

# IDEA Files
*.iml